
<div class="container">
    <div class="title-container"><h2 class="title">FORO DE CONSULTAS</h2></div>
     
  
  
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
  
        
  
  
        <ng-container matColumnDef="IdForum">
          <th mat-header-cell *matHeaderCellDef>ID FORUM</th>
          <td mat-cell *matCellDef="let element">{{ element.idForum }}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
          <td mat-cell *matCellDef="let element">{{ element.nameForum }}</td>
        </ng-container>
    
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>TIPO</th>
          <td mat-cell *matCellDef="let element">
            {{ element.descriptionForum }}
          </td>
        </ng-container>
       
        <ng-container matColumnDef="idusers">
          <th mat-header-cell *matHeaderCellDef>Name User</th>
          <td mat-cell *matCellDef="let element">
            {{ element.user.username}}
          </td>
        </ng-container>
    
    
        <ng-container matColumnDef="accion02">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="primary"
              (click)="eliminar(element.idForum)"
            >
            <mat-icon>delete_sweep</mat-icon>
          </button>
          </td></ng-container
        >
       
     
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
  
  
      </div>